{% extends 'hoods/base.html' %} {% load static%} {% block content %}
<div class="w3-container" style="background-image: url('https://images.unsplash.com/photo-1541205646242-30258c7485b5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=777&q=80');background-size: cover; background-attachment: fixed; ">
    <div class="w3-row">
        <h2 class="w3-center"></h2>
        {% for hood in hoods %}
        <div class="w3-col l4 m6 s12 w3-padding">
            <div class="w3-card-4 w3-white" style="padding-bottom:5px;padding-top:3px;">
                <div class="w3-container w3-margin">
                    <a href="{% url 'hood' hood_id=hood.id %}">
                        <strong><i class="fas fa-map-marker-alt"></i> {{ hood.location_name }}, </strong>
                        <strong>{{hood.name}}</strong>
                    </a>
                </div>

                <header class="hovereffect" style="height:300px">
                    <img src=" {{ hood.image.url }}" class="img-responsive w3-image w3-center" style="width:100%; height:100%">
                </header>

                <div class="w3-container w3-margin">
                    <p><a class="info w3-btn w3-round-xxlarge w3-pink" href="{% url 'join' hood_id=hood.id %}">
                            Join Hood </a></p>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}