{%extends 'hoods/base.html'%} {% load bootstrap3 %}{% load crispy_forms_tags %} {% block content %}
<div class="container top" id="proc">
    <div class="row edit-profile">
        <div class="col-md-4 edit-areas">
            <h3>Account</h3>

            <img src="{{ user.profile.profile_picture.url }}" style="width: 50%; height: 70%;">
            <br>
            <h6>Bio</h6>
            <br>
            <p>{{user.profile.bio}}</p>
        </div>
        <div class="col-md-8">
            <form action="{% url 'update_profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %} {{ user_form|crispy}} {{ prof_form|crispy}}
                <input type="submit" class="btn btn-success" value="Update">
            </form>
        </div>
    </div>
</div>
{% endblock %}