{% extends 'hoods/base.html' %} {% load static%} {% block content %}

<div class="w3-row-padding">
    <div class="col-md-3">
        <img class="rounded-circle account-img" src="{{ user.profile.profile_picture.url }}" style="width: 50%; height: 70%;">
    </div>
    <p class="text-secondary">Bio: {{ user.profile.bio }}</p>
    <p style="font-size: 20px;"><span class="profile-real-name"><strong>username: {{user.username}}</strong></span>
        <p>Join a hood to view all profile details <a href="/"> here</a></p>
</div>

{% endblock %}